{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="{% static './css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static './css/navbar.css' %}">

</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" ><img src="../static/img/Mi Estacionamiento.png" height="50px" width="150px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <button class="btn btn-primary" href="{% url 'index' %}">Inicio </button>
                    </li>
                    <li>
                        <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Ver Ubicacion</button>
                    </li>
                    {% if user.tipo == 'cliente' or user.tipo == 'arrendador' %}
                    <li class="nav-item active">
                        <button class="btn btn-primary" href="{% url 'estacionamientos' %}">Estacionamientos </button>
                      </li>
                    {% endif %}
                    
                    {% if user.tipo == 'cliente' or user.tipo == 'arrendador' %}
                    <li class="nav-item">
                      <button class="btn btn-primary" href="{% url 'perfil' %}">Mi Perfil</button>
                    </li>
                    {% endif %}
                    {% if user.is_superuser %}
                    <li class="nav-item active">
                      <button class="btn btn-primary" href="">Administrador</button>
                    </li>
                    <li class="nav-item active">
                        <button class="btn btn-primary" href="">Registro Productos</button>
                    </li>
                    {% endif %}

                  </ul>
                        {% if user.is_authenticated %}
                        <a class="btn btn-success btn-lg active"  href="{% url 'Usuarios:logout' %}">Cerrar sesion</a>
                        {% else %}
                        <a  class="btn btn-success btn-lg active" role="button" aria-pressed="true" href="{% url 'Usuarios:log' %}" >Iniciar Sesion</a><br>
                        {% endif %}
                 
                </div>
              </nav>
              
<!-- MODAL REGISTRO DUEÑO -->

<div class="modal fade" id="modalregistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro Dueño</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="crear_U" method="POST">
        {% csrf_token %}
          <div class="form-row" >
              <div class="col-md-6 mb-3">
                  <label for="rut">Rut</label>
                  <input type="text" class="form-control" name="rut" id="rut" placeholder="Ingrese Rut" required>
                </div>
            <div class="col-md-6 mb-3">
                <label for="first_name">Primer Nombre</label>
                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Ingrese Primer Nombre" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="last_name">Apellido</label>
                <input type="text" class="form-control" name="last_name" id="last_name"  placeholder="Ingrese Apellido" required>
              </div>
            <div class="col-md-6 mb-3">
              <label for="correo">Email</label>
              <input type="email" class="form-control" name="correo" id="correo" placeholder="Ingrese email" required>
            </div>
            <div class="col-md-12 mb-3">
              <label for="contra">Contraseña</label>
              <input type="password" class="form-control" name="contra" id="contra"  placeholder="Ingrese Contraseña" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="direccion">Direccion</label>
                <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Ingrese Direccion" required>
              </div>
            <div class="col-md-6 mb-3">
              <label for="tarjeta">N° Tarjeta</label>
              <input type="text" class="form-control" name="tarjeta" id="tarjeta" placeholder="Ingrese Numero de tarjeta"required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="banco">Banco</label>
              <input type="text" class="form-control" id="banco" name="banco" placeholder="Ingrese Banco" required>
            </div>
            </div>
            </div>
            <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Registrar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </form>
    </div>
      </div>
    </div>
  </div>
</div>




<!-- MODAL REGISTRO USUARIO -->

<div class="modal fade" id="modalregistro2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registro Arrendador</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="crear_A" method="POST">
          {% csrf_token %}
            <div class="form-row" >
                <div class="col-md-6 mb-3">
                    <label for="rut">Rut</label>
                    <input type="text" class="form-control" name="rut" id="rut" placeholder="Ingrese Rut" required>
                  </div>
              <div class="col-md-6 mb-3">
                  <label for="first_name">Primer Nombre</label>
                  <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Ingrese Primer Nombre" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="last_name">Apellido</label>
                  <input type="text" class="form-control" name="last_name" id="last_name"  placeholder="Ingrese Apellido" required>
                </div>
              <div class="col-md-6 mb-3">
                <label for="correo">Email</label>
                <input type="email" class="form-control" name="correo" id="correo" placeholder="Ingrese email" required>
              </div>
              <div class="col-md-12 mb-3">
                <label for="contra">Contraseña</label>
                <input type="password" class="form-control" name="contra" id="contra"  placeholder="Ingrese Contraseña" required>
              </div>
              <div class="col-md-6 mb-3">
                  <label for="direccion">Direccion</label>
                  <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Ingrese Direccion" required>
                </div>
              <div class="col-md-6 mb-3">
                <label for="tarjeta">N° Tarjeta</label>
                <input type="text" class="form-control" name="tarjeta" id="tarjeta" placeholder="Ingrese Numero de tarjeta"required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="banco">Banco</label>
                <input type="text" class="form-control" id="banco" name="banco" placeholder="Ingrese Banco" required>
              </div>
              </div>
              </div>
              <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Registrar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </form>
      </div>
        </div>
      </div>
    </div>
  </div>

    <script src="{% static './js/jquery-3.3.1.js' %}"></script>
    <script src="{% static './js/popper.js' %}"></script>
    <script src="{% static './js/app.js' %}"></script>
    <script src="{% static './js/bootstrap.js' %}"></script>
</body>